.sidebar-container {
  width: 0px;
  transition: all 0.3s ease;
  z-index: 100;
  position: relative;

  &.open {
    width: 0px;
  }

  .btn-toggle-menu {
    background: transparent;
    border: none;
    cursor: pointer;
    margin-right: auto;
    padding: 0.5rem;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }

  .sidebar {
    width: 100vw;
    height: calc(100vh - 4.25rem);
    position: fixed;
    transition: all 0.3s ease;
    left: 100vw;

    &.open {
      left: 0px;
    }

    .nav {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      overflow: hidden;

      li {
        width: 100%;

        .nav-link {
          width: 100%;
          overflow: hidden;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 1rem;
          flex-wrap: nowrap;
          text-wrap: nowrap;

          i {
            font-size: 1.25rem;
            display: flex;
            justify-content: center;
            align-items: center;
            height: fit-content;
          }

          span {
            flex: 1;
          }
        }
      }
    }

    .dropdown {
      border-radius: 0.25rem;

      .dropdown-toggle {
        padding: 0.75rem;
        cursor: pointer;
      }
    }

    .auth-buttons {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}

@media (min-width: 768px) {
  .sidebar-container {
    width: 5.25rem;

    &.open {
      width: 25rem;
    }

    .sidebar {
      width: 5.25rem;
      left: 0px;

      &.open {
        width: 25rem;
      }

      .auth-buttons {
        display: none;
      }
    }
  }
}
