<div class="sidebar-container">
  <div class="d-flex flex-column flex-shrink-0 p-3 sidebar border-end bg-light">
    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a
          class="nav-link"
          routerLink="/"
          [routerLinkActive]="'active'"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <ng-icon name="heroHome" size="24px" />
          Página inicial</a
        >
      </li>
      <li>
        <a class="nav-link" routerLink="/characters" [routerLinkActive]="'active'">
          <ng-icon name="heroHome" size="24px" />Personagens</a
        >
      </li>
      <li>
        <a class="nav-link" routerLink="/locations" [routerLinkActive]="'active'">Localizações</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/episodes" [routerLinkActive]="'active'">Episódios</a>
      </li>
    </ul>
  </div>
</div>
