.container {
  display: flex;
  flex-direction: row-reverse;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1.5rem;

  a {
    text-decoration: none;
    font-weight: 500;

    &.active {
      color: var(--bs-primary);
    }

    &:hover {
      color: var(--bs-primary);
    }
  }
}

.content-auth {
  display: none;
}

@media (min-width: 768px) {
  .content-auth {
    display: flex;
    gap: 2rem;
  }

  .container {
    flex-direction: row;
  }
}
