<div class="card-container">
  <div class="bg-white card">
    <div class="avatar-container">
      <picture class="avatar">
        <source [srcset]="character.image" type="image/svg+xml" />
        <img [src]="character.image" [alt]="'Imagem do ' + character.name" />
      </picture>
    </div>

    <div class="card-body">
      <div class="d-flex w-100 justify-content-between align-items-center mb-2">
        <h2 class="text-truncate flex-fill">{{ character.name }}</h2>

        <a [routerLink]="aboutLink" class="text-nowrap">Saiba mais</a>
      </div>

      <p>Status: {{ character.status }}</p>
      <p>Species: {{ character.species }}</p>
      <p>Gender: {{ character.gender }}</p>
    </div>
  </div>
</div>
