.card-container {
  padding-top: 7.5rem;
}

.avatar-container {
  display: flex;
  justify-content: center;

  .avatar {
    width: 15rem;
    margin-top: -7.5rem;
    background-color: rgb(255, 255, 255);
    padding: 0.125rem;
    height: 15rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    display: flex;

    img {
      width: 100%;
      height: 100%;
      position: relative;
      border-radius: 100%;
      object-fit: cover;
    }
  }
}
