.container {
  min-height: calc(100vh - 4rem);
}

.profile-content {
  padding-top: 15rem;
}

.profile-card {
  background: white;
  border-radius: 0.25rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .profile-card_header {
    border-radius: 0.25rem;
    text-align: center;
  }
}

.profile-photo-content {
  padding: 2px;
  height: 20rem;
  position: relative;
  width: 20rem;
  margin: 0 auto;
  margin-top: -10rem;

  img {
    position: relative;
    border-radius: 50%;
    width: 100%;
    z-index: 2;
    height: 100%;
    object-fit: cover;
  }

  &::before {
    content: '';
    position: absolute;
    top: -0.125rem;
    left: -0.125rem;
    width: calc(100% + 0.25rem);
    height: calc(100% + 0.25rem);
    border-radius: 50%;
    background: linear-gradient(135deg, #03a7c2 0%, #7ace31 100%);
    z-index: 1;
    animation: rotate 4s linear infinite;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-loading {
  min-height: calc(100vh - 4rem);
  align-items: center;
}
