main {
  display: grid;

  .section-header {
    padding-top: 5rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-table {
    padding-top: 5rem;

    .container {
      display: grid;
      gap: 4rem;
    }
  }
}

.picture {
  width: 100%;
  max-width: 22.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.title {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  max-width: 22.5rem;
}

.table-loading {
  padding: 1rem;
  height: 30rem;
  text-align: center;
  vertical-align: middle;
  font-size: 1.25rem;
  font-weight: 500;
}

.table-body {
  tr {
    td,
    th {
      vertical-align: middle;
    }

    td {
      div.td-content-image {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .table-character-image {
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
          object-fit: cover;
        }

        div {
          flex: 1;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

.table {
  thead {
    th.th-id {
      width: 2rem;
    }

    th.th-primary {
      width: 50%;
    }

    th.th-secondary {
      width: auto;
    }

    th.th-actions {
      width: auto;
    }
  }
}

input {
  min-width: none !important;
  width: 100% !important;
  flex: 1;
  max-width: 300rem !important;
}
