.picture {
  width: 100%;
  max-width: 22.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.title {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 22.5rem;
}

.project-actions {
  display: flex;
  gap: 1rem;

  a {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
